#container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas{
  display: block;
  margin: 0 auto;
}

p{
  color: rgb(116,175,191);
  font-family: sans-serif;
  text-align: center;
}
